.bg-container {
  background-image: linear-gradient(to top, #fff1eb, #ace0f9);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.heading {
  color: #1e293b;
  font-family: 'Bree Serif';
}
.ul {
  display: flex;
  justify-content: center;
}
.ul2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 600px;
}
.pic {
  height: 50px;
}
.search-tag {
  padding-top: 20px;
}
