.search-list {
  background-color: #ffffff;
  width: 100px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
  border-radius: 10px;
}
.pic-edit {
  height: 50px;
}
